<app-header></app-header>
<br>
<div style="position: absolute; top:15%; left: 0; right: 0;">
    <div class="login-wrap">
        <div class="login-html">
            <label class="tab">Reset Password</label>
            <div class="login-form">
                <form class="sign-in-htm" [formGroup]="form" (submit)="resetPassword()">
                    <div class="group">
                        <label for="user" class="label">Email</label>
                        <input type="text" class="input" formControlName="email">
                    </div>
                    <br>
                    <div class="group">
                        <input type="submit" class="button" value="Reset" [disabled]="invalid()">
                    </div>
                    <div class="hr"></div>
                </form>
            </div>
        </div>
    </div>
</div>
