<div>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="gotoProfile()">Profile</button>
                <button mat-menu-item [matMenuTriggerFor]="product">Product</button>
                <button mat-menu-item>Logout</button>
            </mat-menu>
            <mat-menu #product="matMenu">
                <button mat-menu-item (click)="addProduct()">Add Product</button>
                <button mat-menu-item (click)="listProducts()">Product List</button>
            </mat-menu>
        </button>
        <span [routerLink]="['/']" style="padding-inline: 1rem;"><button mat-raised-button color="primary">My App</button></span>
        
        <span class="example-spacer"></span>
        <span [routerLink]="['/login']" style="padding-inline: 1rem;" *ngIf="!loggedIn">
            <button mat-raised-button color="primary">Login</button>
        </span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
</div>