<app-header></app-header>
<br>
<div id="container" class="container mt-3 mw-80">
    <aside>
        <header>
            <h2>Conversations</h2>
        </header>
        <ul>
            <li>
				<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_02.jpg" alt="">
				<div (click)="selectRecipient()">
					<h2>EMAIL</h2>
				</div>
			</li>
        </ul>
    </aside>
    <main>
        <header>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg" alt="">
            <div>
                <h2>Chat with {{ recipient }} </h2>
            </div>
        </header>
        <ul id="chat" #chat [scrollTop]="chat.scrollHeight">
            <li *ngFor="let message of messages" [ngClass]="message.sender == email ? 'me' : 'you'">
                <div class="entete">
					<h3>{{ message.timestamp | date:'ccc d LLL y, h:mm:ss a' }}</h3>
				</div>
				<div class="message">
					{{ message.content }}
				</div>
            </li>
            <!-- <li *ngFor="let message of messagesFrom" class="you">
                <div class="entete">
					<h3>timestamp</h3>
				</div>
				<div class="message">
					{{ message }}
				</div>
            </li> -->
        </ul>
        <footer>
            <textarea placeholder="Type your message" #chatMessage (keydown.enter)="sendMessage(chatMessage.value);false" [formControl]="messageInput"></textarea>
            <button mat-raised-button class="button" (click)="sendMessage(chatMessage.value)" type="submit" [disabled]="messageInput.invalid">Send</button>
        </footer>
    </main>
</div>