<app-header></app-header>
<br>
<div id="container" class="container mt-3 mw-80">
    <aside>
        <header>
            <h1 class="mat-headline-4" style="margin: 0;">Conversations</h1>
        </header>
        <mat-selection-list>
            <mat-list-item *ngFor="let conversation of conversationsArray; let i = index" (click)="selectRecipient(conversation.chatID, i)" [ngClass]="{'selected': selectedIndex == i}">
                <span matListItemTitle #convoID>{{ conversation.chatID }}</span>
                <span matListItemLine>Product: {{ conversation?.product?.productName }} - ${{ conversation?.product?.price }}</span>
            </mat-list-item>
        </mat-selection-list>
    </aside>
    <main>
        <header>
            <img *ngIf="profileImage.length != 0; else noImage" src="{{ profileImage }}" height="150px">
            <div>
                <h2 *ngIf="recipient; else noRecipient">
                    {{ recipient }} - Product: <span *ngIf="product">{{ product.productName }}({{ product.productID }})</span>
                </h2>
            </div>
        </header>
        <div *ngIf="recipient;else noChat" class="chatwindow">
            <ul id="chat" #chat [scrollTop]="chat.scrollHeight">
                <li *ngFor="let message of messages" [ngClass]="message.sender == email ? 'me' : 'you'">
                    <div class="entete">
                        <h3>{{ message.timestamp | date:'ccc d LLL y, h:mm:ss a' }}</h3>
                    </div>
                    <div class="message">
                        {{ message.content }}
                    </div>
                </li>
            </ul>
            <footer>
                <textarea placeholder="Type your message" #chatMessage (keydown.enter)="sendMessage(chatMessage.value);false" [formControl]="messageInput"></textarea>
                <button mat-raised-button class="button" (click)="sendMessage(chatMessage.value)" type="submit" [disabled]="messageInput.invalid">Send</button>
            </footer>
        </div>
    </main>
</div>

<ng-template #noImage>
    <img class="profilepic" src="/assets/profilepic.png">
</ng-template>

<ng-template #noRecipient>
    <h3>SELECT A CONVERSATION FROM THE CONVERSATIONS BAR</h3>
</ng-template>

<ng-template #noChat>
    <div style="text-align: center; position: relative; top: 35%;">
        <h1 class="mat-headline-3" style="margin: 1rem">NO ACTIVE CONVERSATION</h1>
        <h2 class="mat-headline-4">Select a conversation from the left</h2>
    </div>
</ng-template>