<app-header></app-header>
<br>
<div>
    <div class="container mt-3 mw-80">
        <div>
            <button mat-raised-button (click)="goBackToProductlist()">Back</button>
        </div>
        <div class="container mt-4">
            <mat-card *ngIf="product$ | async as p">
                <mat-card-header>
                    <mat-card-subtitle>Product ID: {{ p.productID }}</mat-card-subtitle>
                    <mat-card-title style="font-size: x-large;">Product Name: {{ p.productName }}</mat-card-title>
                </mat-card-header>
                <br>
                <mat-card-content>
                    <div class="row">
                        <div *ngFor="let i of p.images; let n = index" class="imageCard">
                            <img mat-card-image [src]="'data:' + i.type + ';base64, ' + i.imageBytes" [id]="n" (click)="enlargeImg(n)">
                        </div>
                    </div>
                </mat-card-content>
                <br>
                <mat-card-content>
                    <h1>Product Price: ${{ p.price }}</h1>
                </mat-card-content>
                <br>
                <mat-card-content>
                    <h2>Product Description</h2>
                    <p>
                        {{ p.description }}
                    </p>
                </mat-card-content>
                <br>
                <hr>
                <mat-card-actions *ngIf="isUser;else isBuyer" class="button-row">
                    <button mat-fab extended (click)="editProduct()">Edit</button>
                    <button mat-fab extended color="warn" (click)="deleteProduct()">Delete</button>
                    <span *ngIf="isUser && productStatus == 'pending'" style="float: right;">
                        <button mat-fab extended color="primary" (click)="acceptOffer()">Accept Offer</button>
                    </span>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>

<ng-template #isBuyer>
    <div *ngIf="productStatus == 'selling'; else showCancel">
        <button mat-fab extended (click)="buyProduct()">Buy Product</button>
    </div>
</ng-template>

<ng-template #showCancel>
    <div>
        <button mat-fab extended color="warn" (click)="cancelBuyProduct()">Cancel Order</button>
    </div>
</ng-template>
