<app-header></app-header>
<br>
<div>
    <div class="container mt-3 mw-80">
        <div>
            <button mat-raised-button (click)="goBackToProductlist()">Back</button>
        </div>
        <div class="container mt-4">
            <mat-card *ngIf="product$ | async as p" style="background-color: whitesmoke;">
                <mat-card-header>
                    <mat-card-subtitle>Product ID: {{ p.productID }}</mat-card-subtitle>
                    <mat-card-subtitle>Product Seller: {{ p.email }}</mat-card-subtitle>
                    <mat-card-title style="font-size: x-large;">Product Name: {{ p.productName }}</mat-card-title>
                </mat-card-header>
                <br>
                <mat-card-content>
                    <div class="row">
                        <div *ngFor="let i of p.images; let n = index" class="imageCard">
                            <img mat-card-image [src]="'data:' + i.type + ';base64, ' + i.imageBytes" [id]="n" (click)="enlargeImg($event)">
                        </div>
                    </div>
                </mat-card-content>
                <br>
                <mat-card-content>
                    <h1>Product Price: ${{ p.price }}</h1>
                </mat-card-content>
                <br>
                <mat-card-content>
                    <h2>Product Description</h2>
                    <p>
                        {{ p.description }}
                    </p>
                </mat-card-content>
                <br>
                <hr>
                <mat-card-actions *ngIf="!isSold;else productSold" class="button-row">
                    <span *ngIf="isSeller;else isBuyer">
                        <button mat-fab extended (click)="editProduct()">Edit</button>
                        <button mat-fab extended color="warn" (click)="deleteProduct()">Delete</button>
                    </span>

                    <span *ngIf="isSeller && productStatus == 'pending' && orderDetails != null; else noBuyers" style="float: right;">
                        <form [formGroup]="form" (submit)="acceptOffer()">
                            <mat-form-field>
                                <mat-label>Select Buyer</mat-label>
                                <mat-select formControlName="buyer">
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let buyer of orderDetails.buyers" [value]="buyer">
                                    {{ buyer }}
                                </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <button type="submit" mat-fab extended color="primary" (click)="acceptOffer()" [disabled]="form.invalid">Accept Offer</button>
                        </form>
                    </span>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>

<ng-template #isBuyer>
    <div *ngIf="isOrdering == false; else showCancel" class="button-row">
        <button mat-fab extended (click)="buyProduct()">Buy Product</button>
    </div>
</ng-template>

<ng-template #showCancel>
    <div class="button-row">
        <button mat-fab extended color="warn" (click)="cancelBuyProduct()">Cancel Order</button>
    </div>
</ng-template>

<ng-template #noBuyers>
    <div style="float: right;" *ngIf="isSeller">
        <button mat-fab extended disabled>Currently No Buyers</button>
    </div>
</ng-template>

<ng-template #productSold>
    <div class="button-row" style="float: right;">
        <button mat-fab extended disabled>Product Sold</button>
    </div>
</ng-template>
