<app-header></app-header>
<div class="container mt-3 mw-80">
    <h1 class="display-2 m-2"><strong>Add A Product</strong></h1>
    <div class="card p-lg-3">
        <form class="row" [formGroup]="form" (submit)="uploadProductDetails()">
            <div class="col-sm-5">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Product Name</mat-label>
                    <input matInput placeholder="Product Name" formControlName="productName">
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Product Price</mat-label>
                    <input type="number" matInput placeholder="Product Price" min="0" step="0.1" formControlName="price" (input)="limitPriceDecimal($event)" (blur)="priceToDecimal($event)">
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Product Description</mat-label>
                    <textarea matInput rows="7" placeholder="Product Description" formControlName="description"></textarea>
                </mat-form-field>
                <div class="nav justify-content-center">
                    <button mat-raised-button type="button" disabled="false" class="m-2" (click)="resetForm()">Clear Form</button>
                    <button mat-raised-button type="submit" class="m-2" [disabled]="invalidForm()">Submit</button>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="m-1">
                    Image Area
                </div>
                <div class="align-bottom">
                    <div class="row" style="height: 30vh;">
                        <mat-grid-list cols="2" rowHeight="2:1">
                            <mat-grid-tile *ngFor="let pi of product.images; let i = index">
                                <img height="250" [src]="pi.url" (click)="remove(i)"/>
                            </mat-grid-tile>
                          </mat-grid-list>
                    </div>
                    <br>
                    <div >
                        <input class="m-1" type="file" accept="image/*" (change)="showPreview($event)" formControlName="productImage" #productImage (click)="limitImages()">
                        <br>
                        Maximum of 4 images (click on an image to remove it)
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
